In [8]:
import pandas as pd
import openpyxl
filepath='customers-100.csv'
efilepath='DataSets/All-CSV-ML-Data-Files-Download-master/Data - Single Worksheet.xlsx'

### Read a CSV file and use head to display the first 5 rows

In [5]:
df=pd.read_csv(filepath)
print(df.head(5))

   Index      Customer Id First Name Last Name  \
0      1  DD37Cf93aecA6Dc     Sheryl    Baxter
1      2  1Ef7b82A4CAAD10    Preston    Lozano
2      3  6F94879bDAfE5a6        Roy     Berry
3      4  5Cef8BFA16c5e3c      Linda     Olsen
4      5  053d585Ab6b3159     Joanna    Bender

                           Company               City  \
0                  Rasmussen Group       East Leonard
1                      Vega-Gentry  East Jimmychester
2                    Murillo-Perry      Isabelborough
3  Dominguez, Mcmillan and Donovan         Bensonview
4         Martin, Lang and Andrade     West Priscilla

                      Country                 Phone 1                Phone 2  \
0                       Chile            229.077.5154       397.884.0519x718
1                    Djibouti              5153435776       686-620-1820x944
2         Antigua and Barbuda         +1-539-402-0259    (496)978-3969x58947
3          Dominican Republic  001-808-617-6467x12895        +1-813-324-8756
4  Slovakia (Slovak Republic)  001-234-203-0635x76146  001-199-446-3860x3486

                         Email Subscription Date                      Website
0     zunigavanessa@smith.info        2020-08-24   http://www.stephenson.com/
1              vmata@colon.com        2021-04-23        http://www.hobbs.com/
2          beckycarr@hogan.com        2020-03-25     http://www.lawrence.com/
3  stanleyblackwell@benson.org        2020-06-02   http://www.good-lyons.com/
4      colinalvarado@miles.net        2021-04-17  https://goodwin-ingram.com/

In [ ]:
## Display the shape of the data frame

In [50]:
print(df.shape)

(100, 12)

###Read an Excel file and use head to display the first 5 rows

In [10]:
edf=pd.read_excel(efilepath)
print(edf.head(5))

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

## creating data frame from dictionary

In [40]:
details={'Name':['John','Doe','Smith','Alex','John'],'Age': [25,30,35,40,45],'Height':[5.6,5.7,5.8,5.9,6.0]}
ddf=pd.DataFrame(details)
print(ddf)

    Name  Age  Height
0   John   25     5.6
1    Doe   30     5.7
2  Smith   35     5.8
3   Alex   40     5.9
4   John   45     6.0

## Selecting a column

In [14]:
x=ddf[['Name']]
print(x)

    Name
0   John
1    Doe
2  Smith
3   Alex
4   John

## Selecting multiple columns

In [41]:
x=ddf[['Name','Height']]
print(x)

    Name  Height
0   John     5.6
1    Doe     5.7
2  Smith     5.8
3   Alex     5.9
4   John     6.0

In [37]:
print(ddf)

    Name  Age  Height
a   John   25     5.6
b    Doe   30     5.7
c  Smith   35     5.8
d   Alex   40     5.9
e   John   45     6.0

In [ ]:
## selecting unique values in a column

In [42]:
uNames=ddf['Name'].unique()
print(uNames)

['John' 'Doe' 'Smith' 'Alex']

In [ ]:
## Selecting rows based on a condition

In [44]:
h=ddf[ddf['Height']>=5.7]
print(h)

    Name  Age  Height
1    Doe   30     5.7
2  Smith   35     5.8
3   Alex   40     5.9
4   John   45     6.0

##selecting a cell value using iloc

In [18]:
print(ddf.iloc[0,2])

5.6

## selecting a cell value using loc

In [19]:
print(ddf.loc[0,'Name'])

John

## selecting a row using iloc

In [23]:
rows=ddf.iloc[0:3,1:3]
print(rows)

   Age  Height
0   25     5.6
1   30     5.7
2   35     5.8

In [ ]:
## changing the index of the data frame

In [24]:
ddfnew=ddf
ddfnew.index=['a','b','c','d','e']
print(ddfnew)

    Name  Age  Height
a   John   25     5.6
b    Doe   30     5.7
c  Smith   35     5.8
d   Alex   40     5.9
e   John   45     6.0

In [ ]:
## saving data frame to csv

In [46]:
ddf.to_csv('dict_to_csv.csv',index=False)

In [ ]:
## Providing self indexes

In [47]:
prodddf=pd.DataFrame({'Nag' : ['Liked','Disliked'], 'John' : ['Disliked','Liked']},index=['Prod1','Prod2'])
print(prodddf)

            Nag      John
Prod1     Liked  Disliked
Prod2  Disliked     Liked

#### dealing with series

In [26]:
data = ['John', 'Doe', 'Smith', 'Alex', 'John']
print(pd.Series(data))

0     John
1      Doe
2    Smith
3     Alex
4     John
dtype: object

In [28]:
S=pd.Series(data,index=['a','b','c','d','e'])
print(S[0])

John

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_4504\3668550481.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(S[0])

In [29]:
print(S['a'])

John

In [30]:
print(S.iloc[0])

John

In [31]:
print(S.loc['a'])

John

In [45]:
print(S.nunique())

4

In [35]:
print(S[0:3])

a     John
b      Doe
c    Smith
dtype: object

In [48]:
print(pd.Series([1,2,3,4,5],index=['a','b','c','d','e'],name='Series'))

a    1
b    2
c    3
d    4
e    5
Name: Series, dtype: int64